<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 

    <title>Affecter un module</title>

    <style type="text/css">
        .formulaire {
            margin-top: 70px;
            margin-left: 320px;
            margin-right: 60px;
            margin-bottom: 80px;
        }
    </style>

</head>
<!-- <body class="bg-light"> -->
<body>
    {% include 'Include/navbar_viewadmin.html' %}

    <div class="formulaire ">
        <div class="col-md-7 col-lg-8 bg-light ">
            <h4 class="mb-3">Choix du module</h4>
            <form class="needs-validation" novalidate>

                <div class="col-md-7">

                    <label for="classe" class="form-label">Nom du module</label>
                    <select class="custom-select" id="classe" required>
                      <option value="">Choisir...</option>
                      <option>Anglais </option>
                      <option>Atelier Genie Logiciel (AGL) </option>
                      <option>Base de donnée I </option>
                      <option>Développement d'application mobile flutter/dart</option>
                    </select>

                    <div class="invalid-feedback">
                      Selectionner un module.
                    </div>

                </div>
                <br>
      
              <hr class="my-4">

              <div class="alert alert-success alert-dismissible fade show" role="alert">
                Le module est affecter avec success
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

              <div class="form-group text-right">
                <div class="col-sm-12">
                    <input name="submit" type="submit" class="btn btn-primary " value="Enregistrer" />
                    <input name="cancel" type="reset" class="btn btn-default " value="Annuler" />
                </div>
              </div>
                
            </form>
      
            
          </div>
    </div>
    


    {% include 'Include/footer_view.html' %}

</body>
</html>