<style>
    footer {
    /* position: sticky; */
    bottom: 0;
    width: 100%;
    }

    .bg-4 { 
        background-color: #2f2f2f;
        color: #ffffff;
        padding-top: 5px;
        /* idee : include kaamla dirha f contructeur ;) */
    }
    
    
</style>
    

<footer class="container-fluid bg-4 text-center"> <!-- navbar-fixed-bottom -->
    <div class="row"> <!-- modal-body -->
    <div class="col-md-4">
    <h4>IIT</h4>
      <p>Créée en 2019 ,etablissement d’enseignement supérieur agréé 
        par l’Etat de Côte d’Ivoire .L’IIT est une Université privée 
        installée à Grand-Bassam au sein de la Zone Franche du 
        Village des Technologies de l’Information et de la 
        Biotechnologie (VITIB). <a href="https://www.iit.ci/fr">Visiter le site</a> </p>
    </div>
    <div class="col-md-4">
        <br>
      <h4>Realiser par </h4>
          <b>YAO Kouame Ange Vianney</b></p>
          <p><b>Licence 3 Computer Sciences</b></p>
    </div>
    <div class="col-md-4">
    <h4>Contactez-nous</h4>
      <p>Adresse: Institut Ivoirien de Technologie 06 BP 6248, Abidjan 06</p>
      <p>Tél: (+225) 01 53 15 15 15</p>
      <p>Email: contact@iit.ci </p>
    </div>
  </div>
</footer>
